<!DOCTYPE html>
<html>
<head>
    <title>моё</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background-color: cyan; text-align: center; padding: 100px;">
    <h1>Соединение фотокарточек <span class="badge badge-light">NEW</span></h1>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('merge') }}">
        <div>
            <label for="file1">Картинка 1:</label>
            <input type="file" name="file1" accept=".png, .jpg, .jpeg, .gif" required>
        </div>
        <div>
            <label for="file2">Картинка 2:</label>
            <input type="file" name="file2" accept=".png, .jpg, .jpeg, .gif" required>
        </div>
        <div>
            <label for="merge_type">Ориентация:</label>
            <select name="merge_type" required>
                <option value="vertical">Вертикально</option>
                <option value="horizontal">Горизонтально</option>
            </select>
        </div>
        <center><div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div></center>
        <div>
            <button type="submit" class="btn btn-success">Давай</button>
        </div>
    </form>
</body>
</html>
